body{
  background-color: lightblue;
  color: black;
  list-style: 

}
div{
  background-color: aquamarine; 
  text-align: center;
  
  
}
ul{
  list-style: none;
}
#fill{
  width: 70%;
  margin: auto;
  text-align: left;
  
}
#joona{
  height:7%;
}
#lisaa{
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
  width: 100%;
}
#check{
  background-color: grey;
  text-align: left;
  width: 75%; 
  height: 5%;
  margin: 1%;
  align-self: center;
}
#merkinta{
  width:100%;
  background-color: black;
  color: white;
}

#box{
  align-self: center;
  width: 97%; 
}

#suoritettavat{
  background-color: lightblue;
  width: 70%;
  margin: auto;
  text-align: left;
}

#box2{
  align-self: center;
  width: 97%; 
}
.ilmoitus{
  background-color: lightblue;
}
